---
import { Picture } from "@astrojs/image/components"
import Base from "@layouts/Base.astro"
import type { SingleChampion } from "@types"

interface Props {
  champion: SingleChampion
}

const { champion } = Astro.props
---

<Base icon={`http://ddragon.leagueoflegends.com/cdn/13.1.1/img/champion/${champion.id}.png`} title={champion.name}>
  <div class="mb-8">
    <div class="mb-2">
      {
        champion.tags?.map(tag => (
          <a class="mr-2 py-1 px-2 uppercase text-white bg-red-700 rounded-full" href={`/champions/tags/${tag}`}>
            {tag}
          </a>
        ))
      }
    </div>
    <h1 class="text-3xl mb-2">{champion.name}<span class="text-base">, {champion.title}</span></h1>
  </div>
  <Picture
    class="mb-8"
    src={`http://ddragon.leagueoflegends.com/cdn/img/champion/loading/${champion.id}_0.jpg`}
    widths={[77, 154, 308]}
    sizes="(max-width: 77px) 77px, (max-width: 154px) 154px, 308px"
    aspectRatio="11:20"
    alt={`${champion.name}'s asset'`}
  />

  <div>
    <slot />
  </div>
</Base>
